.mainContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;

}

.post{
    border-bottom:1px solid black;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px
}
.postimage{
    width: 400px;
    height: 380px;
 }

@media (max-width:400px) {
    .post
    {
     width: 300px;
     padding: 4px;
    }
    .postimage
    {
     width: 310px;
     height: 300px;
    }
    
    
}