.mainContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
 

}

.post{
    border:1px solid black;
    width: auto;
}

@media (max-width:500px) {
    .post
    {
     width: auto
    }
    .image{
        width: 10px;
     }
    
}