*{

  margin: 0;
  line-height: 20px;
  text-decoration: none;
  letter-spacing: 0.5px;
  
}

.flex-class{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:4px
}
p{
  margin-top: 10px;
  margin-bottom: 10px;
}

.image{
  width: 200px;
  height: 200px;
 
}


.gridView
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.listview
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link{
  color: black;
  font-weight: 700;
}

@media (max-width:400px) {
  
  .image
  {
   width: 300px;
   height: 400px;
  }
  
  
}

.removeBtn
{
  height: 50%;
  background: #000;
  border: none;
  padding: 4px;
  border-radius: 10px;
  color: white;

}