*{

  margin: 0;
  line-height: 20px;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.flex-class{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:4px
}
.flex-class-user{
  width: auto;
  margin: auto; 
}
p{
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.image{
  width: 200px;
  height: 200px;
 
}


.gridView
{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr ;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}
.listview
{
  display: grid;
  grid-template-columns: 2fr ;
  justify-content: center;
}

.link{
  color: black;
  font-weight: 700;
}

@media (max-width:440px) {
  
  .image
  {
   width: 100px;
   height: 100px;
  }
  .flex-class-user{
    width: 90%;
    height: 100%;
    margin: auto;
 
    
  }
  .gridView
  {
   grid-template-columns: 2fr 2fr;
  
  } 

}
@media (max-width:680px) {
  
  .gridView
  {
   grid-template-columns: 2fr 2fr;
  } 
}


.removeBtn
{
  height: 50%;
  background: #000;
  border: none;
  padding: 4px;
  border-radius: 10px;
  color: white;

}