.navbar{
    /* display: flex; */
    /* justify-content: space-between; */
    position: fixed;
    width: 100vw;
    background:white;
    z-index: 2;
    
}
.navbarContent
{ display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  z-index: 20;
  padding: 15px;
}
.marginTop
{
margin-top: 100px;
}

